@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
  font-family: 'Roboto', sans-serif;
}

.bg-full {
  background-image:url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/229c71ef-5266-43fc-9572-9e78bd8e2afe/d9vpfkm-69e8995f-14cd-4728-a3ba-4fee097a8c4b.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwic3ViIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsImF1ZCI6WyJ1cm46c2VydmljZTpmaWxlLmRvd25sb2FkIl0sIm9iaiI6W1t7InBhdGgiOiIvZi8yMjljNzFlZi01MjY2LTQzZmMtOTU3Mi05ZTc4YmQ4ZTJhZmUvZDl2cGZrbS02OWU4OTk1Zi0xNGNkLTQ3MjgtYTNiYS00ZmVlMDk3YThjNGIuanBnIn1dXX0.ocR2Os697UeYiBiRylGak4JeOU7rB7dVkvmrA4SIB4A);
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-blue {
  background-color: rgba(255,255,255,0.5);
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

.column {
  padding: 15px 20px 0px 20px;
}

.card-radius {
  border-radius: 15px;
}

.list {
  background-color: none;
}
.list-item {
  margin-bottom: 10px;
  background-color: white;
  color: black;
  border-radius: 10px;
  font-size: 16px;
  list-style-type: none;
  padding-left: 10px;
}

.list-item:not(:last-child) {
  border-bottom: 1px solid #55637c;
}

.btn-hover {
  opacity: 0;
  &:hover {
    opacity: 1;
  }
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.submit-button {
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}
